Source: hamonikr-games
Section: games
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4

Package: hamonikr-games
Architecture: all
Depends: ksudoku, kmines, kreversi, knights
Description: basic games meta package
 하모니카 리눅스에서 기본 게임들을 모아놓은 메타패키지
